/* LandingPage.css */
.landing-page {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 2s ease-in-out;
  }
  
  .background-images img {
    position: absolute;
    width: 15%;
    opacity: 0.5;
    animation: float 6s ease-in-out infinite;
  }
  
  .img-1 {
    top: 5%;
    left: 5%;
  }
  
  .img-2 {
    top: 10%;
    right: 5%;
  }
  
  .img-3 {
    bottom: 5%;
    left: 5%;
  }
  
  .img-4 {
    bottom: 10%;
    right: 5%;
  }
  

  
  .content {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 2rem;
    background-color: white;
    animation: slideUp 2s ease-in-out;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .description {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 2rem;
  }
  
  .start-button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .start-button:hover {
    background-color: darkorchid;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }